<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ShopThoiTrang</title>



    <style>
        .text-bold {
            font-weight: 700;
        }
        .box-sanpham{
          transition:1s;
        }
            .box-sanpham:hover {
                box-shadow: 0px 0px 50px 0px #cfcfcf;
                transition: 1s;
            }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ShopThoiTrang", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                </ul>
                <ul class="nav navbar-nav" style="float:right">

                    @if (@Session["username"] == null)
                    {
                        <li>

                            @Html.ActionLink("Đăng nhập / Đăng ký", "Index", "Login")

                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="#"> @Session["username"]</a>
                        </li>
                    }



                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ShopThoiTrang Coppyright by <a href="Home/LazyTeam">LazyTeam</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
